# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  workflow_call:

name: phs_style_and_document.yaml

permissions:
  contents: read
  pull-requests: read

jobs:
  phs_style_and_document:
    name: "Automatically style and document the code"
    runs-on: ubuntu-latest
    container:
      image: Public-Health-Scotland/actions/phs-r-image
      
    permissions:
      contents: write
      pull-requests: write
      
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      
    steps:     
      - name: Mark workspace as safe for Git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.ref || github.ref_name }}

      - name: Enable styler cache
        run: styler::cache_activate()
        shell: Rscript {0}

      - name: Determine cache location
        id: styler-location
        run: |
          cat(
            "location=",
            styler::cache_info(format = "tabular")$location,
            "\n",
            file = Sys.getenv("GITHUB_OUTPUT"),
            append = TRUE,
            sep = ""
          )
        shell: Rscript {0}

      - name: Cache styler
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ${{ steps.styler-location.outputs.location }}
          key: ${{ runner.os }}-styler-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-styler-
            ${{ runner.os }}-

      - name: Style
        run: styler::style_pkg()
        shell: Rscript {0}

      - name: Commit and push changes
        id: commit_step_style
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "Style code (GHA)"
          commit_user_name: ${{ github.actor }}
          commit_user_email: ${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com
        continue-on-error: true

      - name: Create Pull Request
        if: ${{ steps.commit_step_style.outputs.changes_detected == 'true' && steps.commit_step_style.outcome == 'failure' }}
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: "Style code (GHA)"
          branch: auto-style-code
          delete-branch: true
          title: "Style code (GHA)"
          labels: maintenance
          base: ${{ github.event.pull_request.base.ref }}
          body: |
            This Pull Request was automatically created to apply styling changes to your code.
            Please review and merge this PR.
          assignees: ${{ github.actor }}
          reviewers: ${{ github.actor }}

      - name: Normalise DESCRIPTION
        run: desc::desc_normalize()
        shell: Rscript {0}

      - name: Document
        run: roxygen2::roxygenise()
        shell: Rscript {0}

      - name: Commit and push changes
        id: commit_step_document
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          commit_message: "Document package (GHA)"
          commit_user_name: ${{ github.actor }}
          commit_user_email: ${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com
        continue-on-error: true

      - name: Create Pull Request
        if: ${{ steps.commit_step_document.outputs.changes_detected == 'true' && steps.commit_step_document.outcome == 'failure' }}
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: "Document package (GHA)"
          # Use a different branch name than the style PR
          branch: auto-document-code
          delete-branch: true
          title: "Document package (GHA)"
          labels: maintenance
          base: ${{ github.event.pull_request.base.ref }}
          body: |
            This Pull Request was automatically created to apply documentation changes to your code.
            Please review and merge this PR.
          assignees: ${{ github.actor }}
          reviewers: ${{ github.actor }}
